footer{
    background-color: rgb(44, 44, 97);
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 60px;
}

.edyodaDetail{
    flex-direction: column;
    display: flex;
    margin: 10px 50px;
    font-size: 13px;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .3px;
    text-align: left;
    color: #fff;
}

.heading{
    margin-bottom: 5px;
    color: hsla(0,0%,100%,.5);
    font-weight: 500;
   font-size: 20px;
}

.edyodaDetail a{
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px 0;
    color: rgba(255, 255, 255, 0.884);
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

@media screen and (max-width:833px){
   footer{ 
    padding: 0px;
}
.edyodaDetail{
    margin: 10px 5px;
}
   }